body {
    font-family: "Source Sans Pro", "sans-serif";
    background-color: #F1F1F1;
}

#map {
    width: 50%;
    height: 500px;
    background-color: grey;
    margin-left: auto;
    display: inline-block;
}

nav {
    width: 100%;
    position: absolute;
    font-size: 16px;
    z-index: 1;
}

li a {
    color: white;
}

nav ul {
    text-align: center;
}

nav ul li {
    float: none;
    display: inline-block;
    margin: 1.5em 1.5em;
}

nav ul li a:hover{
    color: #c8102e;
    text-decoration: none;
}

nav ul li a:visit, nav ul li a:link{
    color: #c8102e;
    text-decoration: none;
}

#account {
    float: right;
}

#logo {
    margin-left: 0;
    float: left;
}

#over-map {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}

.map-divs {
    background-color: whitesmoke;
    width: 12em;
    height: 8em;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
}

.banner h2 {
    margin-bottom: 1em;
}

.banner {
    width: 100%;
    height: 10em;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    padding: 2em;
}

#first-circle-text, #second-circle-text, #third-circle-text {
    font-size: 6em;
}

.circle-facts {
    text-align: center;
    font-size: 2em;
}

#chart-container {
    margin-bottom: 10em;
}

#landing-image {
    min-height: 600px;
    background-image: url("../img/mother-background.jpg");
    background-size: cover;
    background-position: top;
    /* this gives the shadow overlay on the image */
    -webkit-box-shadow: inset 0 150px 100px -8px rgba(0,0,0,0.44);
    -moz-box-shadow: inset 0 150px 100px -8px rgba(0,0,0,0.44);
    box-shadow: inset 0 150px 100px -8px rgba(0,0,0,0.44);
}

#landing-text {
    padding-left: 1em;
    padding-bottom: 5em;
}

#landing-image h1 {
    margin-top: 0;
    padding-top: 2em;
    padding-left: 1em;
    color: white;
    font-size: 50pt;
    text-align: left;
    font-weight: bold;
}

#landing-image .btn {
    margin-top: 0.5em;
    margin-left: 3.5em;
    color: white;
    font-size: 15pt;
    font-weight: 500;
}

#landing-image .btn:active {
    background-color: #c8102e;
}

#landing-image h2 {
    color: white;
}

#landing-image .center {
    width: 150px;
}

#how-section {
    text-align: center;
}

#how-section h1{
    text-align: center;
}

#how-image{
    max-width: 80%;
}

#sponsors {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#sponsors img {
    margin-top: 2em;
    margin-bottom: 2em;
    max-height: 70px;
    max-width: 200px;
    display: inline-block;
}

#donate {
    background-image: url("../img/children-donate.jpg");
    background-size: cover; 
    background-repeat: no-repeat;;
    background-position: top left;
    background-attachment: fixed;
    margin-top: 3em;
    margin-bottom: 3em;
    min-height: 500px;
    width: 100%;
}

#donate p {
    text-align: left;
    color: rgb(50,50,50);
    font-weight: bold;
    font-size: 30pt;
}

#donate .btn {
    margin-top: 0.5em;
    text-decoration: none;
    font-size: 15pt;
    font-weight: 500;
}

#donate .btn:active {
    background-color: #c8102e;
}

#donate-text {
    padding: 3em;
    margin-top: 7em;
}

#logo img {
    width: 60px;
}

#right, #left {
    display: inline-block;
    padding: 20px;
}

#bottom {
    bottom: 0;
    margin-top: 640px;
    text-align: center;
}

#map-wrapper {
    background-color: lightgray;
    min-width: 1250px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#map-overlay {
    float: left;
}

#map-overlay h2 {
    text-align: center;
}

#scrollable-div {
    overflow-x: scroll;
    max-height: 200px;
    width: 100%;
    white-space: nowrap;
}

.device-block {
    max-width: 340px;
    padding: 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    display: inline-block;
}

.device-block img {
    max-width: 200px;
}

.device-block p {
    margin-top: 0.5em;
}

span {
    font-size: 1em;
}

.btn, .btn.active, .btn:active {
    background-color: #c8102e;
    border: none;
    border-radius: 0;
}

.btn a,.btn a:visited,.btn a:link, .btn a:active {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #e8102f;
    text-decoration: none;
}

#graph {
    width: 100%;
    height: 100%;
    display: inline-block;
}

#device-description-div {
    display: inline-block;
    width: 100%;
}
#device-description-div img {
    max-width: 240px;
    display: inline;
    float: left;
}

#device-description-div p {
    display: inline;
    width: 50%;
    float: left;
    margin-left: 1em;
}

#description-graph {
    padding: 2em;
    width: 49%;
    float: left;
}

#map-graph {
    background-color: white;
    min-height: 720px;
}